<footer class=”footer”>
 <div class=”container”>
 <p class=”text-center text-muted”>© Copyright 2017 <a href="<%= "http://www.coding4developers.com/" %>" target="_blank">Coding 4 developers</a></p>
 </div>
</footer>